@charset "UTF-8";
/* CSS Document */

/* HTML body formatting */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Extra navbar formatting */
.navbar-text {
  font-style: italic;
}

.index-header-centered {
  padding-bottom: 50px;
  font-size: 90px;
}

.other-header-centered {
  padding-bottom: 50px;
  font-size: 70px;
	max-width: 70%;
}

.introductory {
	margin-top:140px;
}

.col-centered {
  float: none;
  margin: 0 auto;
	text-align: center;
	color
}

.index-subheader {
	margin-top: 60px;
	margin-bottom: 30px;
}

.dropdown-toggle, .nav-link > a {
	font-style: italic;
}

.subtitle-responsive-text {
	max-width: 70%;
	font-size: 21px;
}

.subtitle-responsive-text > p {
	font-size: 21px;
}

.poster-alignment {
	position:static;
	padding-top: 5px;
}

.poster-styling {
	width: 100px; 
	height: 150px;
	border-radius: 5px;
	margin-left: 30px;
}

.description-gap { /* Not working */
	margin-top: 40px;
}

/* Search Styling */
.searchbar-child-centered {
	width:90%;
	max-width: 800px;
}

.searchbar-centered {
	margin-top: 50px;
	margin-bottom: 50px;
	display:flex;
	justify-content:center;
	align-items:center;
}



.list-centered {
  float: none;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 180px;
	width:90%;
	max-width: 800px;
}

/* Empty list styling */
.empty-list-centered {
  float: none;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 180px;
	width:90%;
	max-width: 800px;
}

.empty-list{
	padding: 110px 0 110px 0;
}

.empty-list > p {
	text-align: center;
	margin: 0;
}

.empty-list-title {
	font-size: 38px;
	
}

.empty-list-text {
	
}

.empty-list-egg {
	width: 74px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 12px;
}

/* Regist form styling */
.regist-form {
	padding-top: 50px;
}

.button-spacing {
	margin-top: 10px;
}

/* Footer styling */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

.tmdb-logo {
	width: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 18px;
}

.search-dropdown-loading {
	padding-left: 370px;
	padding-top: 40px;
	padding-bottom: 50px;
}

.index-poster {
	width: 300px;
}

.poster-carousel-formatting {
	padding: 0px 30px 390px 0px;
}

.center-posters {
	position: relative;
	top:0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.activity-item {
	font-size: 16px;
}

.activity-item i {
	float: left;
	margin-top: 4px;
	font-size: 16px;
}

div.activity {
	margin-left: 28px;
}

div.activity-item {
	padding: 7px 12px;
}

/* ES List styling */
.es-list li { display: block; padding: 5px 10px; margin: 10px 0; }
.es-list li.selected { background: #f3f3f3; }
.es-list { max-height: 340px !important; }
.es-list li {
	margin-top: 5px;
    margin-bottom: 5px;
	font-size: 20px;
}




